// Colors and Mixins
@use 'sass:color';

$primary-color: #343a40;
$secondary-color: #a1d4eb;
$tertiary-color: #454e5b;
$light-blue: #a3c9f1;
$dark-blue: #1d2d44;
$hover-blue-dark: #5b0ed9;
$hover-blue-light: #2a9df4;
$black: #212529;
$white: #f8f9fa;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Project Container */
.project-container {
    margin: 2rem auto;
    padding: 0 !important;
    align-items: center;

    .project-content {
        flex: 1;

        a {
          color: $white;
          word-break: break-word;
          overflow-wrap: break-word;
          display: inline-block;
          max-width: 100%;

          &:hover{
            color: $hover-blue-light;
          }
        }

        h1 {
            color: $white;
        }
        .wp-block-code {
          clear: both;
        }
    }

    /* Project Image */
    .project-image {
        flex: 1;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
          width: 50%;
          padding: 1rem;
          background-color: $white;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.project-images {
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  
  .project-container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    .project-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      max-width: 100%;
      background: rgba(69,78,91,.8); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
      padding: 1.5rem 0;
      width: 100%;
  
      .slide {
        flex: 0 0 calc(33.333% - 20px);
        box-sizing: border-box;
        margin: 30px 40px;
        display: flex;
        justify-content: center;
        border-radius: 12px;        
        transition: transform .3s ease, box-shadow .3s ease;
        height: auto;

        &:hover {
          transform: scale(1.1);
        }

        img {
          display: block;
          transition: transform 0.3s ease, opacity 0.3s ease;
          max-width: 100%;
          height: auto;
          max-height: 350px; 
          border-radius: 12px;
          object-fit: cover;

          &.popup-image {
            cursor: pointer;
          }

          &:hover {
            transform: scale(1.1);
            opacity: 0.9;
          }
        }
      }
    }
  }
}

// Media query for mobile screens
@media (max-width: 768px) {
  .project-container-images {
    flex-direction: column;

    .project-wrapper {
      flex-direction: column;

      .slide {
        margin: 30px 10% !important; 
      }
    }
  }
}
.projects-template-default footer {
  margin-top: 15rem;
}

//project image popup modal window
body.modal-open {
  overflow: hidden;
}
.modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto; 
      background-color: rgba(0, 0, 0, 0.8);

  .image-modal {
      margin:0 auto;
      width: 90%;
      height: auto;

      .modal-content {
          max-width: max-content;
          max-height: 90%;
          height: auto !important;
          margin: 2rem auto 5rem auto;
          overflow-y: auto;
          display: block;  
          max-height: calc(100% - 10rem);
          object-fit: contain; 
          width: 100% !important;
          border:4px solid rgba(0,0,0,.6) !important;
          background-color: rgba(0,0,0,.2) !important;
      }
      .close {
        top: 0;
        right: 35px;
        color: #f1f1f1 !important;
        font-size: 40px !important;
        transition: 0.3s;
        z-index: 1001;
      }
      .close:hover,
      .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
      }
  }
}